*{
    margin: 0;
    padding: 0;
    
}
body{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    background-color: rgb(0, 0, 0);
    margin-top: 200px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    justify-content: center;
}
input{
    width: 200px;
    height: 25px;
    border-radius:30px ;
    padding: 7px;
}
.button{
    margin-top: 100px;
}